@media screen and (max-width:767px) {
    .backvideo {
        filter: blur(20px);
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1000;
    }
    
    .backvideo video {
        width: 100%;
        height: 100%;
        /* -o-object-fit: cover; */
        object-fit: cover;
    }
    
    /*  */
    /*  */
    .backdrop {
        backdrop-filter: brightness(0.7);
        /* filter: blur(20px); */
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1000;
    }
    
    /*  */
    
    #header {
        z-index: 10000;
        display: flex;
        align-items: center;
        width: 100%;
        height: 64px;
        position: fixed;
        top: 0;
        backdrop-filter: blur(20px);
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    }
    
    .side-wrap {
        display: none;
        z-index: 1000;
        /* display: none; */
        position: fixed;
        top: 64px;
        bottom: 80px;
        width: 245px;
        /* background: #000; */
        /* z-index: 1000; */
        border-right: 1px solid hsla(0, 0%, 100%, .1);
        backdrop-filter: blur(20px);
        /* backdrop-filter: brightness(0.5); */
    }
    
    .menu {
        padding: 20px;
        /* padding-top: 20px; */
    }
    .menu ul:first-child{
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        padding-bottom: 10px;
    }
    .menu>i {
        font-size: 20px;
    }
    
    .logo {
        display: flex;
        justify-content: left;
        padding: 10px 0 10px 30px;
    }
    .logo a {
        display: flex;
        align-items: center;
    }
    .toggle{
        font-size: 28px;
        display: block;
        margin-right: 10px;
    }
    .menu li {
        padding: 15px 0 10px 30px;
    }
    .menu ul>li:hover>a{
        transition: all 0.3s ease-in-out;
        color: #b6b6b6;
    }
    
    
    
    .music-wrapper {
        position: absolute;
        top: 64px;
        width: 100%;
    }
    
    /*  */
    .search-bar {
        margin: 0 auto;
        height: 40px;
        display: flex;
        width: 100%;
        max-width: 50%;
        padding-left: 10px;
        border-radius: 20px;
    }
    
    .search-bar input {
        color: #fff;
        backdrop-filter: blur(1px);
        outline: none;
        width: 100%;
        height: 100%;
        border: 1px solid #232323;
        background-color: var(--search-bg);
        border-radius: 20px;
        font-family: var(--body-font);
        font-size: 15px;
        font-weight: 500;
        padding: 0 20px 0 40px;
        /* box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02); */
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: 16px 48%;
        backdrop-filter: brightness(0.5);
        background: rgb(0 0 0 / 55%);
    }
    
    
    .search-bar input:hover {
        /* scale: 1.01; */
        border: 1px solid #929292;
    }
    
    .search-bar input::placeholder {
        color: #ccc;
    }
    
    /* main */
    .container {
        width: 90%;
        /* backdrop-filter: brightness(0.5); */
        overflow: hidden;
        max-width: 100%;
        min-height: 700px;
        margin: 0 auto;
        /* margin-left: 0; */
    
    }
    
    .section-01,
    .section-02,
    .section-03,
    .section-04,
    .section-05,
    .section-06,
    .section-07 {
        width: 100%;
        margin: 0 auto;
        margin-top: 64px;
        /* background-color: #000; */
        
    }
    
    /* section-01 */
    .section-01 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .con01-pd {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 400px;
        padding: 50px;
        border-radius: 20px;
        background-size: cover;
        backdrop-filter: brightness(0.6);
        background: url(img/con01_bg.png)no-repeat;
        /* background-image: url(img/con01_bg.png); */
        background-size: cover;
        object-fit: cover;
        transition: all 0.5s ease-in;
    }
    .con01-pd:hover {
        background-size: cover;
    transition: all 0.5s ease-in;
    }
.con02-pd:hover,
.con03-pd:hover,
.con04-pd:hover{
    background-size: cover;
    transition: all 0.5s ease-in;
}
    .section-01-con01 img {
        display: none;
    }
    .section-01-con01 h3 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .section-01-con01 p {
        margin-left: 5px;
    }
    .section-01-con-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .ection-01-con-wrap h3 {
        font-size: 24px;
    }
    
    .con02-pd,
.con03-pd,
.con04-pd  {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        height: 180px;
        margin-top: 30px;
        border-radius: 20px;
        backdrop-filter: brightness(0.6);
        font-size: 22px;
        transition: all 0.5s ease-in;
    }
    /* .section-01-con02 {
        background: linear-gradient(45deg, #ff00fa, red);
    }
    .section-01-con03 {
        background: linear-gradient(45deg, #f50000, #ffe800);
    }
    .section-01-con04 {
        background: linear-gradient(45deg, #0083ff, #00ff2a);
    } */
    .section-01-con02 p,
    .section-01-con03 p,
    .section-01-con04 p{
        margin-top: 10px;
        font-size: 14px;
    }
    /* chart start */
    
    .chart {
        width: 100%;
        height: 610px;
        padding: 30px;
        margin-top: 30px;
        border-radius: 20px;
        /* background: #222222; */
        backdrop-filter: brightness(0.6);
        /* font-size: 28px; */
    }
    .chart a:hover {
        text-decoration: underline;
    }
    .chart-wrap{
        display: flex; 
        justify-content: space-between;
        margin-bottom: 30px;
        /* padding:30px; */
    }
    .chart-wrap h3 {
        font-size: 28px;
        font-weight: bold;
    }
    .chart-wrap a {
        font-size: 16px;
        margin-top: auto;
        color: #808080;
    }
    .song-area {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    }
    .song-area img {
        width: 40px;
        height: 40px;
    }
    .song {
        display: flex;
        padding: 0 10px;
        justify-content: space-around;
        flex-direction: column;
        
    }
    .song p {
        color: #bebebe;
        font-size: 14px;
    }
    /* chart end */
    
    
    
    
    
    /* section-02 start */
    .section-02,
    .section-03,
    .section-04,
    .section-05 {
        position: relative;
        flex-direction: column;
    }
    
    .section-02 h3,
    .section-03 h3,
    .section-04 h3
    .section-05 h3 {
        font-size: 28px;
        font-weight: bold;
        margin: 0 0 30px 0;
    
    }
    
    /* section-02 end */
    
    
    /* section-03 start */
    .chart-100 {
        display: flex;
        gap: 20px;
    }
    .song-wrap {
        flex: 1;
        display: none;
    }
    .song-wrap:nth-child(1){
        display: block;
    }
    /* section-03 end */
    
    
    
    
    
    .btn-wrap,
    .btn-wrap2,
    .btn-wrap3 {
        width: 80px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0px;
        right: 10px;
    
    }
    .info {
    
        margin: 10px 0 0 5px;
    }
    
    .info h4 {
        font-size: 16px;
        font-weight: bold;
    }
    
    .info p {
        margin-top: 5px;
        font-size: 14px;
    }
    .info p>a {
        color: #bebebe;
    }
    .img-wrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
        margin: 0 auto;
        cursor: pointer;
    }
    .video-wrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* flex: 1; */
        /* margin: 0 auto; */
        cursor: pointer;
    }
    .img-wrap img {
        border-radius: 10px;
        
    }
    .video-wrap video {
        border-radius: 10px;
        height: 200px;
    }
    video[poster]{ 
        
        object-fit: cover;
        /* width:100%; */
        height: 230px;
        }
    .img-wrap p,
    .video-wrap p {
        color: #7a7a7a;
    }
      .move:hover {
        width: fit-content;
        animation: move 1.5s forwards;
        overflow: hidden;
      }
      @keyframes move {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-30%);
          }
    }
    
    .img-wrap a:hover,
    .video-wrap a:hover {
        text-decoration:underline;
    }
    /* swiper */
    
    .swiper1,
    .swiper2,
    .swiper3 {
        width: 1280px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        display: block;
    }
    .swiper-slide {
        display: flex;
        gap: 20px;
    }
    /* 테스트 */
    .L-btn,
    .R-btn {
        padding: 10px !important;
        backdrop-filter: brightness(0.8) !important;
        border-radius: 28px !important;
    }
    .L-btn:hover,
    .R-btn:hover {
        scale: 1.05;
    }
    /* 테스트 */
}